<!-- jquery toggleの設定 -->
<script>
  $(function(){
    $("#acMenu dt").on("click", function() {
      $(this).next().slideToggle();
      $(this).toggleClass("active");
    });
  });
</script>
<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3><%= @post.title %></h3>
      <div class="create-time-name">
        <%= @post.user.name %> : <%= simple_time(@post.created_at) %>
        <% if current_user == @post.user  %>
          <%= link_to "削除する", post_path, method: 'delete',  data: {confirm: "このpostを削除しますか？"} %>
        <% end %>

      </div>
    </div>
    <div class="panel-body">
      <h4><%= @post.content %></h4>
    </div>
  </div>
  <p>以下「repost」の表示</p>
  <!-- repostの表示 -->
  <%= render 'reposts/reposts' %>
</div>
